<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>macosSay</string>
	<key>CFBundleIdentifier</key>
	<string>com.macosSay.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>文字轉語音小幫手(使用macOS內建庫)</string>
	<key>CFBundleDisplayName</key>
	<string>文字轉語音小幫手(使用macOS內建庫)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>Made by Kaimo &amp; Guanzi(AI), Using MIT License.</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>NSAboutPanelOptionIcon</key>
	<string>icon.png</string>
	<key>CFBundleGetInfoString</key>
	<string>文字轉語音小幫手(使用macOS內建庫) 1.0, Made by Kaimo &amp; Guanzi(AI)</string>
</dict>
</plist>